html,
body,
#app {
  width: 100%;
  height: 100%;
}

span.van-dropdown-menu__title {
  font-size: 13px !important;
  color: #1989fa;
}
#home .van-tabs__content{
  position: static;
}
.van-tabs__content {
  position: absolute;
  top: 45px;
  bottom: 0;
  background: #fff;
  width: 100%;
  overflow: auto;
}

#inform,#home,#topic {
  .van-tabs__nav {
    position: relative;
    display: block;
    width: 100%;

    .van-tab {
      width: 16%;
      float: left;
      font-weight: bold;
      &:nth-of-type(1) {
        margin-left: 34%;
      }
      &:nth-of-type(2) {
        margin-right: 34%;
      }
    }

    .van-tabs__line {
      background-color: #333333 !important;
    }
  }
}


.theme .van-ellipsis,
.address .van-ellipsis {
  color: #1989fa;
}

div.van-cell__title {
  text-indent: 17px;
  font-size: 14px;
}


.border-top {
  position: relative;
}

.border-top::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid #ccc;
  transform: scaleY(0.5);
}

.border-bottom {
  position: relative;
}

.border-bottom::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #ccc;
  transform: scaleY(0.5);
}

@keyframes slideInRight {
  0% {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translateZ(0);
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateZ(0);
  }

  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideInDown {
  0% {
    transform: translate(0, 100%);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes slideOutDown {
  0% {
    transform: translate(0, 0);
  }

  to {
    visibility: hidden;
    transform: translate(0, 100%);
  }
}

.slideInRight {
  animation-name: slideInRight;
}

.slideOutRight {
  animation-name: slideOutRight;
}

.slideInDown {
  animation-name: slideInDown;
}

.slideOutDown {
  animation-name: slideOutDown;
}

.slideInRight,
.slideOutRight,
.slideInDown,
.slideOutDown,
.slideInUp,
.slideOutDown {
  animation-duration: 200ms;
}

.page-wrap {
  width: 100%;
  height: 100%;
  background: #fff;
}

.page-wrap>.page-wrap {
  z-index: 100;
  position: absolute;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 49px;
  width: 100%;
  background: #fff;

  &.subpage {
    bottom: 0;
    z-index: 100;
  }

  &.modal-page {
    bottom: 0;
    z-index: 100;
    background: url(../assets/login.jpg) no-repeat;
    background-size: 100% 100%;
  }

  .content {
    position: absolute;
    top: 44px;
    left: 0;
    bottom: 0;
    width: 100%;
  }

}

.right-btn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 10px;
  font-size: 20px;
  line-height: 44px;
}

// 单行文本溢出隐藏
.text-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

//多行文本溢出隐藏
.more-overflow {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}


.form-group {
  @extend .border-bottom;
  line-height: 40px;
  height: 40px;
  display: flex;
  align-items: center;

  .form-contrl {
    padding: 0;
    padding: 0 10px;
    line-height: 40px;
    height: 40px;
    outline: none;
    border: none;
    flex: 1;
    font-size: 14px;
    color: #ddd;
  }

  .form-tip {
    height: 38px;
    width: 110px;
    color: #ddd;
    text-align: center;
    line-height: 38px;

    &.disabled {
      background: rgba($color: #F5053D, $alpha: 0.7);
    }
  }
}

.confirm-btn {
  margin: 20px 0px;
  background: rgba($color: #fff, $alpha: 0.1);
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #ccc;
  font-size: 20px;
  border-radius: 5px;
}

.alert-info {
  text-align: center;
  margin: 10px;
  font-size: 14px;
  color: #eee;
  padding: 10px;
  line-height: 20px;

  span {
    color: #eee;
    font-size: 12px;
    padding-left: 5px;
  }
}
.footerEnd {
  margin-top: 10px;
  height: 49px;
  width: 100%;
  text-align: center;
  line-height: 49px;
  font-family: STXingkai;
}
#home .van-tabs__nav{
  background-color: #fff!important;
  .van-ellipsis{
    color: #333!important;

  }
}